$main: #000000;
$footer: #000000;
$text: rgb(134, 133, 133);
$hoverCol: $main;


.dropdowns {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 30px;
    font-size: 25px;
}